$wrapper-color: #fdfdfd;
$product-card-color: #ffffff;
$elements-color: #3a3a3a;

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: hidden;
  z-index: 5;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  .drawer {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 470px;
    background-color: $wrapper-color;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
    h2 {
      font-size: 24px;
      margin: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      img[alt="close"] {
        padding-right: 20px;
        opacity: 0.2;
        cursor: pointer;
        transition: 0.2s ease-in-out;
        &:hover {
          opacity: 1;
        }
      }
    }
    .empty {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;

      div {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img {
          width: 200px;
        }
        p {
          width: 350px;
          text-align: center;
          font-weight: 600;
          font-size: 24px;
        }
      }
    }

    .cartBlock {
      flex: 1;
      padding-left: 5px;
      overflow: auto;
    }
    .totalBlock {
      color: $elements-color;
      display: flex;
      flex-direction: column;
      gap: 10px;
      .total,
      .tax {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        gap: 10px;
        h3 {
          width: max-content;
          margin: 0;
        }
        b {
          width: max-content;
        }
        div {
          position: relative;
          top: -5px;
          height: 2px;
          flex: 1;
          border-bottom: 1px dashed $elements-color;
        }
      }
    }
    .mainButton {
      position: relative;
      background-color: #7cb120;
      color: $product-card-color;
      font-size: 20px;
      font-weight: 600;
      border-radius: 30px;
      border: none;
      height: 70px;
      width: 100%;
      cursor: pointer;
      img {
        position: absolute;
        right: 40px;
        top: 27px;
        width: 20px;
        transition: 0.2s ease-in-out;
      }
      &:hover {
        background-color: #92d323;
        img {
          transform: translateX(5px);
        }
      }
    }
    .disabled {
      background-color: #bdbdbd;
      animation: loadingButton 2s ease-in-out infinite;
    }
  }
}
.drawerVisible {
  opacity: 1;
  visibility: visible;
  .drawer {
    transform: translateY(0%);
  }
}
@keyframes loadingButton {
  0% {
    background-color: #bdbdbd;
  }
  50% {
    background-color: #8f8f8f;
  }
  100% {
    background-color: #bdbdbd;
  }
}
