$font-color: #1f1f1f;
$wrapper-color: #fdfdfd;
$elements-color: #3a3a3a;

.header {
  min-height: 80px;
  max-width: 1080px;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  margin: auto;
  border-bottom: 1px solid $elements-color;
  border-radius: 30px 30px 0px 0px;

  .logoContainer {
    display: flex;
    align-items: center;
    h1 {
      font-weight: 700;
      font-size: 24px;
      color: $font-color;
      margin: 0%;
      span {
        opacity: 0%;
        font-size: 0;
      }
    }
  }
  .search {
    height: 40px;
    width: 300px;
    border: 3px solid $elements-color;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    gap: 10px;
    input {
      border: 0;
      height: 100%;
      width: 100%;
      font-size: 16px;
      color: $font-color;
      outline: none;
      background-color: $wrapper-color;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    color: $font-color;
    li {
      display: flex;
      align-content: center;
      gap: 5px;
      cursor: pointer;
      a {
        display: flex;
        align-items: center;
        span {
          font-weight: 700;
          font-size: 16px;
          display: flex;
          align-items: center;
        }
      }
    }
  }
}

@media (max-width: 820px) {
  .header {
    .search {
      width: 250px;
    }
    ul {
      gap: 20px;
    }
  }
}

@media (max-width: 490px) {
  .header {
    justify-content: center;
    padding: 10px 0;
    .search {
      width: 300px;
    }
    ul {
      gap: 20px;
    }
  }
}
